<!doctype html>
<html lang="en" ng-app="LunchCheck">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container" ng-controller='LunchCheckController'>
        <h1>Lunch Checker</h1>

        <div class="form-group {{lunchMenuStatus}}">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i></span>
                <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="lunchMenu">
            </div>
            <span id="helpBlock" class="help-block"><i class="glyphicon glyphicon-info-sign"></i> Empty items are not considered.</span>
        </div>

        <div class="form-group ">
            <button class="btn btn-default btn-sm active" ng-click="checkIfTooMuch()">Check If Too Much </button>
        </div>
        <div class="form-group message">
            <!-- Your message can go here. -->
            <span class="label label-info">{{msgText}}</span>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="app.js"></script>

</body>

</html>